<!doctype html>
<html lang="ru">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>О компании</h1>
        <p>Более 8 лет наша компания предлагает на российском рынке высококачественный продукт. Мы знаем, что каждому человеку
            просто необходима чашечка крепкого тонизирующего чая, чтобы взбодрить себя, получить удовольствие. Мы знакомим нашего
            покупателя с эксклюзивными сортами чая лучших мировых производителей.<br><br>
            Цель нашей компании — предоставить возможность получить качественный напиток в любое время в любом месте. Мы предлагаем
            чай-машины, которые являются самыми совершенными аппаратами для приготовления чая. Осуществляем бесплатную доставку и
            бесплатное техническое обслуживание чайного оборудования.<br><br>
            Важной задачей является защита потребителя от некачественной продукции. Поэтому мы сотрудничаем только с проверенными
            поставщиками и являемся официальными дилерами ведущих мировых производителей : Принцесса Нури, Принцесса Гита, Красная
            цена, Каждый день.<br><br>
            За время нашей работы нашими клиентами стали более 1000 Кафе ,Баров и Ресторанов, но мы не останавливаемся на
            достигнутом.</p>
        <img src="seller.jpg">
    </div>
</body>
</html>