<!doctype html>
<html lang="ru">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>Контакты</h1>
        <p><b>Адрес:</b> 489210 г. Чебоксары, ул. Чайная д. 23<br>
            <b>Телефон:</b> 1 (2345) 678-910<br>
            <b>Email:</b> tea.paradise@mail.com<br>
            <b>График работы:</b> Понедельник-Пятница 9:00 - 20:00</p>
        <img src="XXL.jpg">
    </div>
</body>
</html>