<!doctype html>
<html lang="ru">
<head>
    <style>
        .container{
            text-align: center;
        }
    </style>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>Добро пожаловать в "Чайный рай"</h1>
        <p>Это лучше чем просто рай</p>
        <img src="2020-05-21.jpg">
    </div>
</body>
</html>